# --- DATABASE ---
DATABASE_URL="postgresql://user:password@localhost:5432/foppa_bank"

# --- BACKEND API ---
PORT_API=8080
WORKER_SERVICE_URL="http://localhost:3001"

# --- WORKERS ---
PORT_WORKER=3001

# --- FRONTEND ---
APP_API_URL="http://localhost:8080"
